<app-title [title]="'Control Flow'"></app-title>

<section class="grid grid-cols-2 md:grid-cols-2 gap-2 m-2">

    <div class="bg-white rounded pb-10">

        <h2 class="text-2xl font-bold">IF</h2>
        <button (click)="changeContent()" class="p-2 m-3 bg-blue-500 text-white rounded">Cambiar el valor</button>

        <!-- if -->
        @if ( showContent() ) {
            <p>Esse non cupidatat est sunt in laboris eiusmod ad. Lorem id ut sunt elit consectetur consectetur irure
                consequat. Ea fugiat duis quis est eiusmod pariatur qui est laborum eiusmod ea voluptate do ex.</p>
            }
        @else {
            <p>Pues no te muestro el contenido</p>
        }

    </div>


    <!-- switch -->

    <div class="bg-white rounded pb-10">

        <h2 class="text-2xl font-bold">Switch</h2>


        @switch (nivel()) {
            @case('Primaria') {
            <p>Tiene el título de primaria</p>
            }
            @case('Bach') {
            <p>Tiene el título de Bachiller</p>
            }
            @case('CF') {
            <p>Tiene el título de ciclo formativo</p>
            }
            @case('Eso') {
            <p>Tiene el título de eso</p>
            }
            @case('Otro') {
            <p>Tiene otro título</p>
            }
            @default {
            <p>No sabemos el título que tiene</p>
            }

        }

    </div>


    <!-- for -->
    <div class="bg-white rounded pb-10">

        <h2 class="text-2xl font-bold">For</h2>

        <ul class="list-item">
            @for( framework of frameworks() ; track $index; 
                let i = $index; let even = $even ) {
                
                <li [class]="{
                    'bg-amber-100': even,
                    'bg-pink-400': !even
                }" >
                    {{ i }} - {{ framework }} - Even: {{ even }}
                </li>
            }
           
        </ul>

         <h2 class="text-2xl font-bold">For sin nada</h2>

         <ul class="list-item">
            @for( framework of frameworks2() ; track $index; 
                let i = $index; let even = $even ) {
                <li [class]="{
                    'bg-amber-100': even,
                    'bg-pink-400': !even
                }" >
                    {{ i }} - {{ framework }} - Even: {{ even }}
                </li>
            }
            @empty {
                <li>No hay contenido</li>
            }
           
        </ul>




    </div>






</section>